# IDE
.vs/
*.sln
*.pyproj
*.user
*.suo

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Large dataset (optional, if it gets too heavy)
# myData/

# Environment variables
.env

# Temporary files
*.log
*.tmp
.DS_Store
